*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
    scroll-behavior: smooth;
}
.main{
    width: 100%;
    height: 80vh;
    background: url(/assets/img/travel2.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main h1{
    font-size: 5em;
    color: #fff;
    background-image: linear-gradient(214deg, rgb(255, 204, 0), #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 70px orange;
}
.main h3{
    color: #fff;
}
.main p{
    color: #fff;
}
.main a{
    width: 80px;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: orange;
    border-radius: 0 15px 0 15px;
    text-align: center;
    padding-top: 5px;
    margin: 0 30px;
    transition: all 0.8s;
}
.main a:hover{
    background-color: rgb(255, 186, 59);
    color: #383838;
    transform: scale(1.1);
    border-radius: 25px;
}
.page1{
    width: 100%;
    height: 80vh;
    display: inline-block;
}
.page1 img{
    float: left;
    width: 350px;
    height: 350px;
    margin: 40px 100px;
    border-radius: 15px;
    display: inline-block;
}
.page1 h2{
    float: right;
    position: relative;
    top: 80px;
    right: 350px;
    display: inline-block;
}
.page1 h5{
    float: right;
    position: relative;
    top: 120px;
    right: 272px;
    display: inline-block;
}
.page1 p{
    float: right;
    width: 400px;
    position: relative;
    top: 150px;
    left: 130px;
    display: inline-block;
}
.page1 h1{
    display: inline-block;
    position: relative;
    top: 81px;
    left: 60px;
    float: none;
    width: 30px;
    text-align: center;
}
.page1 h6{
    width: 80%;
    margin: 150px 100px;
    font-size: 1em;
    font-weight: 300;
}
.box1{
    padding: 15px;
    width: 250px;
    height: 170px;
    background-color: orange;
    float: right;
    margin: 0px 150px 50px 0;
    border-radius: 5px;
}
.box1 svg{
    width: 25px;
    margin: 9px 15px;
    position: relative;
    left: 25px;
}
.box1 h5{
    text-align: center;
    font-weight: 500;
}
.cards{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card{
    width: calc(33% - 10px);
    background-color: rgba(201, 201, 201, 0.829);
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
}
.card svg{ width: 60px; margin:10px;}
/* P a r t  2 */
.cards2{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;  
    align-items: center;
}
.card2{
    text-align: center;
    width: calc(30% - 10px);
    height: 300px;
    background-color: rgba(189, 189, 189, 0.793);
    padding: 15px;
    margin: 20px;
    border-radius: 7px;
}
.card2 img{
    border-radius: 9px;
    width: 370px;
    height: 200px;
}
